* {
  color: darkorchid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: lavender;
    color: darkmagenta;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container h2 {
    flex: 0 0 25%;
    border-right: 5px black solid;
  }

  .container p {
    flex: 0 0 65%;
  }

  .list {
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    float: right;
  }
  
 .header {
  background-color: lavender;
  border: 15px;
  padding: 15px;
  margin: auto;
 }

 .nav-bar {
  list-style-type: none;
  display: inline;
  padding: 15px;
  float: right;
  justify-content: space-between;
 }
  
 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .container h2 {
    flex: 0 0 25%;
    border-right: 5px solid darkorchid;
  }
  
  .container p {
    flex: 0 0 65%;
  }
  
 .list {
    list-style-type: none;
    display: flex;
    padding: 10px;
    float: right;
    justify-content: space-between;
  }
  
 .container ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  padding: 10px;
 }

#box1 {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}

#box2 {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}

#box3 {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}

#box4 {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}